
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin:0;
    padding:0;

}
.sidebar{
    transition: transform 0.3s ease-in;
    background-color:rgb(242, 237, 237);
    width:345px;
        font-family: Arial, Helvetica, sans-serif;
height:100vh;

}

.main{display: flex;
width: 100vw;
    background-color: rgb(253, 253, 253);
}

.container{
    display: flex;
}

.sidebar nav{
    padding:25px;


}

.sidebar nav li {
    padding:85px;

    list-style: none;
    padding: 35px 0 ;
    font-size:30px;
}

.sidebar nav li a{
    text-decoration: none;
    color: rgb(80, 82, 84);
}

.infocontainer{
    background-color: rgb(255, 255, 255);
    height:78vh;
    width:80vw;
margin: 12px auto;
display: flex;
justify-content: space-around;
margin-left: 2px;


}


.hello{font-size: 55px;}
.name{font-size: 30px;
font-weight: bold;}
.about{font-size:28px ;


}


.buttons{
    margin-bottom: 34px ;
}

.btn{
padding:9px 14px ;
font-size: 21px ;
margin:0 3px ;
border-radius:22px ;
cursor: pointer;
color:azure;
font-weight:bold  ;
background-color:rgb(69, 69, 121) ;
}

.devinfo{margin-top: 1rem;
    display:flex;
justify-content: center;
    flex-direction: column;
}

.devpic img {margin-right: 500px;
    display: flex;
    margin-top: 4rem;
    height: 68vh;
    border-radius: 8rem;
    width:300px;
  
}




.btn:hover{


background-color: white;
color: rgb(68, 68, 137);
}

.moreabout{

    font-size: 22px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


    margin-top:29px ;
}

.contactform h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-align: center;
padding: 12px 0;
}
.contactform{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 144px;
    padding:0 44px;
    padding-top: 144px;
}


.contactform  form div{
    padding:10px 0;
display: flex;
flex-direction: column;

}


.contactform form div input{
    width:26vw;
    border-radius: 5px;
    margin:6px 0 0 0;
    padding:3px ;

}



 #emailhelp{

    font-size: 8px;
    color:midnightblue;
    margin:0 5px;

}


#form-check{
flex-direction: row;
}


#form-check input{
width: 24px ;
margin: 3px 0;
}



.btn-sm{
    font-size: 14px ;
    padding:10px 19px;
    margin:12px 0;

}


.buttons button{
    padding:9px 14px ;
font-size: 21px ;
margin:0 3px ;
border-radius:22px ;
cursor: pointer;
color:azure;
font-weight:bold  ;
background-color:rgb(69, 69, 121) ;
}

.blogitem h2{
margin: 20px ;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.blogcontainer{
    margin-left: 33px;
}

.blogcontainer h1{

font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 23px ;
}

.blogitem p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.devinfo{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.devinfo {margin: 7px 0  0 0;
    padding: 12px;
  margin: 0 12px ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.devinfo h2{
    margin-top: 4rem;
}

.skill{
    
    width: 290px ;
    height: 23px ;
    background-color: red;
}

.skillcontainer{
    padding:12px ;
    


}

.skill1{
    
    width: 290px ;
    height: 23px ;
    background-color: red;
}
.skill2{
    
    width: 45px ;
    height: 23px ;
    background-color: red;
}
.skill3{
    
    width: 23px ;
    height: 23px ;
    background-color: red;
}
.skill4{
    
    width: 45px ;
    height: 23px ;
    background-color: red;
}
.skill5{
    
    width: 250px ;
    height: 23px ;
    background-color: red;
}


.start{
    background-color: black;
    color:aliceblue;
    width:100%;
    
text-align: center;
    height:100px;

}
.start2{padding: 42px 0;
    display: block;
    text-align: center;
    width: 100%;
    height:18rem;

    margin-top: 4rem;
    color:rgb(8, 13, 11);
background-color: rgb(112, 110, 219);
}

.btn a{
    list-style: none;

text-decoration: none;
}



.sub h1{
    text-align: center;
    color: aliceblue;

    background-color: black;
    margin-top: 20rem;

}
.sub h2{
    text-align: center;
    color: aliceblue;

    background-color: black;


}


